</div>
<footer class="bg-dark text-light">
    <div class="container">
        <nav class="row">
            <a href="#" class="col-3 text-reset  d-flex align-items-center">
                <img class="img-logo mr-2" width="40" alt="Angular Logo" src="https://nodejs.org/static/images/logo.svg"
                />  NodeApp
            </a>
            <div class="col-3 text-reset d-flex align-items-center">
            </div>
            <div class="col-3 text-reset d-flex align-items-center">
                © 2020 Copyright
            </div>
            <ul class="col-3 list-unstyled">
                <br>
                <li class="text-center">Social networks</li>
                <li class="d-flex justify-content-between">
                    <a href="https://github.com/" class="text-reset"><i class="fab fa-github"></i></a>
                    <a href="https://instagram.com" class="text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="https://facebook.com" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" class="text-reset"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>