</div>
<footer class="bg-dark text-light">
    <div class="container">
        <nav class="row">
            <a href="#" class="col-3 text-reset  d-flex align-items-center">
                <img class="img-logo mr-2" width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                /> AngularApp
            </a>
            <div class="col-3 text-reset d-flex align-items-center">
            </div>
            <div class="col-3 text-reset d-flex align-items-center">
                © 2020 Copyright
            </div>
            <ul class="col-3 list-unstyled">
                <br>
                <li class="text-center">Social networks</li>
                <li class="d-flex justify-content-between">
                    <a href="https://github.com/" class="text-reset"><i class="fab fa-github"></i></a>
                    <a href="https://instagram.com" class="text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="https://facebook.com" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" class="text-reset"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>